// selects

select {
	text-transform: none;
	font-size: 14px;
	color: #434343;
	text-align: left;

	&::-ms-expand {
		display: none;
	}
}

.select-replace {
	display: block;
	position: relative;
	padding: 0;
	font-size: 16px;
	border: 2px solid $gray-a;
	border-radius: 4px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	background: transparent;
	height: 50px;
	outline: none;
	margin-bottom: $vr;

	@media #{$BPD} {
		display: inline-block;
		vertical-align: middle;
		padding: 0;
	}

	&.standard-size {
		width: 250px;

		@media #{$BPD} {
			width: 250px;
		}
	}

	&:hover,
	&:focus {
		background:  transparent;
	}

	select {
		background: none;
		position: relative;
		border: 0;
		box-shadow: none;
		text-overflow: '';
		padding-right: 40px;
		height: 46px;
		width: 100%;
		appearance: none;
		border-radius: $input-border-radius;
		padding-left: 20px;
		cursor: pointer;
		font-weight: $font-weight-regular;
		z-index: 2;
		color: $gray-e;
		font-family: sans-serif;
		font-size: 15px;

		&[disabled] {
			cursor: not-allowed;
		}

		@media #{$BPD} {
			padding: 0 $input-padding-x;
			padding-right: 40px;
		}

		option {
			padding: 0 10px;
		}

		&:focus {
			outline: 1px dotted currentColor;
		}
	}

	&:after {
		display: block;
		height: 10px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 23px;
		width: 14px;
		z-index: 1;
		font-size: 15px;
		color: $gray-a;
		font-family: $icon-font;
		content: "\e906";
		line-height: 11px;
		z-index: 1;

		.lt-ie10 & {
			display: none;
		}
	}
}

// Make multiple select elements height not fixed
select[multiple],
select[size] {
	height: auto;
	background: $brand-white;
	padding-top: $input-padding-y*2;
	line-height: $input-height - $vr;
	padding-bottom: $input-padding-y;
	padding-right: 5px;
}