// Errors
input,
textarea,
.select-replace {

    &.input-validation-error,
    &.input-validation-error:hover,
    &.input-validation-error:focus,
    &.input-validation-error-replace,
    &.input-validation-error-replace:hover,
    &.input-validation-error-replace:focus {
        border: 2px solid $color-warning;
    }
}

.input-validation-error,
.input-validation-error:hover,
.input-validation-error:focus {

    & + .radio--replace,
    & + .checkbox--replace {
        border-color: $color-warning;
    }
}

.field-validation-valid {
    display: none;
}

.field-validation-error,
.validation-summary-errors {
    color: $color-warning;
    display: block;
    font-size: 13px;
    font-family: sans-serif;
    clear: both;
}